<% provide(:title, '¿Quiénes Somos?') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>¿Quiénes Somos?</h1>
    <p>
      Información por ser agregada.
    </p>
  </body>
</html>