<% provide(:title, '¿Quiénes Somos?') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <div class="row">
	<div class="span6" style="border-right: 2px solid #eaeaea">
		<h1 style="text-align:left">Misión</h1>	
		<p>Nuestra misión es contribuir a la formación integral de los estudiantes uniandinos ofreciendo espacios interdisciplinarios y flexibles, afianzando en ellos la conciencia de sus responsabilidades sociales y cívicas para que sean agentes de desarrollo y logren construir valor social en su entorno. </p>
	</div>	
	<div class="span5">
		<h1 style="text-align:left">Visión</h1>	
		<p>Para el año 2015 será el ente de referencia de Responsabilidad Social Universitaria a nivel nacional.</p>
	</div>
	</div>	
  </body>
</html>