<% provide(:title, 'About Us') %>

<h1 style="text-align:left; border-bottom:2px solid #eaeaea">Banco de Organizaciones</h1>

<div class="center hero-unit" style="height:10px; border-style:solid">
	<%=image_tag "test.png", style: "width:100px; height:100px; position: absolute; left:520px; top:160px"%>
	<h3 style="position:absolute; left:700px; top:150px">Nombre de la Fundación</h3>
	<h4 style="position:absolute; left:700px; top:200px">Descripción de la fundación, propuesta de valor</h4>
</div>

